In [11]:

import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [12]:
data=pd.read_csv("C:/Users/rajmh/OneDrive/Desktop/pandas/bank_data.csv")

In [13]:
df=pd.DataFrame(data)

In [14]:
df

,age,job,marital,education,default,housing,loan,balance,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,admin.,married,secondary,no,yes,no,1500,cellular,5,may,300,1,999,0,unknown,yes
1,45,technician,single,tertiary,no,yes,yes,250,cellular,12,jun,120,2,999,0,unknown,no
2,25,services,single,secondary,no,no,no,-100,telephone,20,jul,240,1,6,2,success,yes
3,35,management,married,tertiary,no,yes,no,2000,cellular,8,aug,600,3,999,0,unknown,no
4,50,retired,married,primary,no,no,no,500,telephone,30,may,180,2,999,0,unknown,no
5,40,blue-collar,single,secondary,yes,yes,yes,-300,cellular,15,jul,90,4,2,1,failure,yes
6,60,management,married,tertiary,no,no,no,1200,telephone,10,aug,400,1,999,0,unknown,no
7,28,admin.,single,tertiary,no,yes,no,800,cellular,25,jun,200,2,999,0,unknown,no
8,33,services,married,secondary,yes,no,yes,-50,cellular,7,may,150,1,999,0,unknown,yes
9,48,technician,single,tertiary,no,yes,no,400,telephone,22,aug,350,3,5,3,success,no

In [9]:
df['y'] = df['y'].map({'yes': 1, 'no': 0})
df['housing'] = df['housing'].map({'yes': 1, 'no': 0})
df['loan'] = df['loan'].map({'yes': 1, 'no': 0})

In [10]:
df

,age,job,marital,education,default,housing,loan,balance,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,admin.,married,secondary,no,1,0,1500,cellular,5,may,300,1,999,0,unknown,1
1,45,technician,single,tertiary,no,1,1,250,cellular,12,jun,120,2,999,0,unknown,0
2,25,services,single,secondary,no,0,0,-100,telephone,20,jul,240,1,6,2,success,1
3,35,management,married,tertiary,no,1,0,2000,cellular,8,aug,600,3,999,0,unknown,0
4,50,retired,married,primary,no,0,0,500,telephone,30,may,180,2,999,0,unknown,0
5,40,blue-collar,single,secondary,yes,1,1,-300,cellular,15,jul,90,4,2,1,failure,1
6,60,management,married,tertiary,no,0,0,1200,telephone,10,aug,400,1,999,0,unknown,0
7,28,admin.,single,tertiary,no,1,0,800,cellular,25,jun,200,2,999,0,unknown,0
8,33,services,married,secondary,yes,0,1,-50,cellular,7,may,150,1,999,0,unknown,1
9,48,technician,single,tertiary,no,1,0,400,telephone,22,aug,350,3,5,3,success,0

In [15]:
df = pd.get_dummies(df, drop_first=True, dtype=int)

In [16]:
df

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_management,job_retired,...,default_yes,housing_yes,loan_yes,contact_telephone,month_jul,month_jun,month_may,poutcome_success,poutcome_unknown,y_yes
0,30,1500,5,300,1,999,0,0,0,0,...,0,1,0,0,0,0,1,0,1,1
1,45,250,12,120,2,999,0,0,0,0,...,0,1,1,0,0,1,0,0,1,0
2,25,-100,20,240,1,6,2,0,0,0,...,0,0,0,1,1,0,0,1,0,1
3,35,2000,8,600,3,999,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
4,50,500,30,180,2,999,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0
5,40,-300,15,90,4,2,1,1,0,0,...,1,1,1,0,1,0,0,0,0,1
6,60,1200,10,400,1,999,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
7,28,800,25,200,2,999,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
8,33,-50,7,150,1,999,0,0,0,0,...,1,0,1,0,0,0,1,0,1,1
9,48,400,22,350,3,5,3,0,0,0,...,0,1,0,1,0,0,0,1,0,0

In [19]:
X = df.drop('y_yes', axis=1)
y = df['y_yes']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [21]:
model = xgb.XGBClassifier(
    booster='gbtree',            
    n_estimators=100,             
    learning_rate=0.1,            
    max_depth=5,                  
    subsample=0.8,                
    colsample_bytree=0.8,         
    random_state=42,              
    use_label_encoder=False,      
    eval_metric='logloss',        
    objective='binary:logistic'   
)

In [22]:
model.fit(X_train, y_train)

C:\Users\rajmh\AppData\Roaming\Python\Python311\site-packages\xgboost\training.py:183: UserWarning: [13:40:25] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

XGBClassifier(base_score=None, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.8, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='logloss',
              feature_types=None, feature_weights=None, gamma=None,
              grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.1, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=5, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=100, n_jobs=None,
              num_parallel_tree=None, ...)

In [23]:
y_pred = model.predict(X_test)

In [25]:
Accuracy=accuracy_score(y_test, y_pred)

In [26]:
Accuracy

0.5

In [27]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67         1
           1       0.00      0.00      0.00         1

    accuracy                           0.50         2
   macro avg       0.25      0.50      0.33         2
weighted avg       0.25      0.50      0.33         2

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))